site_name: MahÄvedalla
nav:
  - Home: index.md
  - Other: 
    - About: other/about.md
    - Methodology: other/methodology.md
    - Support: other/support.md
theme:
  name: material

extra:
  generator: false

extra_css:
  - stylesheets/extra.css

plugins:
  - search:
      lang: en
      separator: '[\s\-]+'
      prebuild_index: true