@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/lmroman10-regular.otf');
    /* Add other formats as needed */
}
:root {
    --md-text-font: 'MyCustomFont', serif;
}
body {
    font-family: var(--md-text-font);
}


